.git/
.gitignore
.vscode/

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
.python-version
database.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.nx/

# Logs and debug
*.log

# Docker
Dockerfile
.dockerignore
